.skills-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem;
  margin-bottom: 10rem;
}

.grid-background {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  isolation: isolate;
  margin-top: 8rem;
}

.grid-background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image:
    repeating-linear-gradient(
      to right,
      rgba(200, 200, 200, 0.08) 0,
      rgba(200, 200, 200, 0.08) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(200, 200, 200, 0.08) 0,
      rgba(200, 200, 200, 0.08) 1px,
      transparent 1px,
      transparent 60px
    );
}

.skills-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skills-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  color: #333;
  border-radius: 2px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(250, 250, 250, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.skills-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 12px rgba(250, 250, 250, 0.2);
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: start;
}

.slider-input {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: default;
  border: 0;
  box-shadow: none;
  max-width: 100%;
  flex-grow: 1;

  background: transparent;
  opacity: 0.2;
}

.slider-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: var(--accent);
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--accent);
  border-radius: 50%;
  margin-top: -4px;
}

.slider-input::-moz-range-track {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: var(--accent);
}

.slider-input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--accent);
  border-radius: 50%;
}
