:root {
  --accent: #37d618;
  --nav-bg: #fffffffa;
  --card-btn: #000000;
  --hire-me: #000000;

  --controller: #9c9a9a;
  --controller-border: #9c9a9a;
  --controller-hover: #37d618;

  --dashed-border: dashed 4px var(--accent);
  --card-height: min(40rem, 80vh);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #0715b0;
    --nav-bg: #060813fa;
    --card-btn: #ffffff;
    --hire-me: #fff;

    --controller: #f3f3f3;
    --controller-border: #f3f3f3;
    --controller-hover: #0000cd;

    --dashed-border: dashed 4px var(--accent);
  }
}
