:root {
  --accent: #46ff21;
  --nav-bg: #fff;

  --dashed-border: dashed 4px var(--accent);
  --card-height: min(40rem, 80vh);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #0715b0;
    --nav-bg: #191818;

    --dashed-border: dashed 4px var(--accent);
  }
}
