footer {
  width: 100%;
  height: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--accent);
}
