@import url("./utils/media-queries.css");
@import url("./utils/variables.css");
@import url("./utils/font-face.css");
@import url("./sections/landing.css");
@import url("./sections/contact.css");
@import url("./sections/projects.css");
@import url("./sections/hero.css");
@import url("./nav.css");
@import url("./footer.css");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto-condensed), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
}

header {
  width: 100%;
  height: 3rem;
}

section {
  scroll-margin-top: 5.2rem;
  margin-bottom: 20%;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: var(--accent);
}

.highlight {
  background-color: var(--accent);
  padding: 0.25rem;
}
