@import url("./utils/imports.css");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto-condensed), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  padding: 3rem 2rem;
  max-width: 1200px;
}

header {
  width: 100%;
  height: 3rem;
}

section {
  scroll-margin-top: 5.2rem;
  margin-bottom: 10%;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: var(--accent);
}

.highlight {
  background: linear-gradient(
    to top,
    var(--accent) 0,
    var(--accent) 0.6em,
    transparent 0.6em
  );
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.change-highlight.highlight {
  background: linear-gradient(
    to top,
    var(--highlight-change) 0,
    var(--highlight-change) 0.6em,
    transparent 0.6em
  );
}

.change-highlight.highlight:hover {
  background: linear-gradient(
    to top,
    var(--highlight-change-hover) 0,
    var(--highlight-change-hover) 0.6em,
    transparent 0.6em
  );
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.paragraph-text {
  font-size: 1.5rem;
  margin-top: 1rem;
}
