@import url("./utils/media-queries.css");
@import url("./utils/variables.css");
@import url("./utils/font-face.css");
@import url("./landing.css");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-roboto-condensed), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: var(--accent);
  color: var(--background);
}
