@import url("./utils/variables.css");
@import url("./utils/font-face.css");
@import url("./layout/nav.css");
@import url("./layout/footer.css");
@import url("./sections/hero.css");
@import url("./sections/contact.css");
@import url("./sections/projects.css");
@import url("./cards/project-cards.css");
@import url("./cards/skills-cards.css");
@import url("./timelines/cv-timeline.css");
@import url("./dialogue/dialogue.css");
@import url("./sections/curriculum.css");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto-condensed), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  padding: 3rem 2rem;
  max-width: 1200px;
}

header {
  width: 100%;
  height: 3rem;
}

section {
  scroll-margin-top: 5.2rem;
  margin-bottom: 10%;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: var(--accent);
}

.highlight {
  background-color: var(--accent);
  padding: 0.25rem;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.paragraph-text {
  font-size: 1.5rem;
  margin-top: 1rem;
}
