.cv-header {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cv-avatar-wrapper {
    position: relative;
    right: 5rem;
    width: 200px;
    height: 200px;
    cursor: pointer;
    flex-shrink: 0;
}

.cv-avatar-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.cv-avatar-img.hidden {
    opacity: 0;
}

@media screen and (max-width: 778px) {
    .cv-header {
        justify-content: center;
    }

    .cv-avatar-wrapper {
        right: 0;
    }
}
