.cv-header {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#cv-avatar {
    position: relative;
    right: 5rem;
}

@media screen and (max-width: 778px) {
    .cv-header {
        justify-content: center;
    }

    #cv-avatar {
        right: 0;
    }
}
