.start-link {
  font-size: larger;
  font-weight: 800;
  text-decoration: dashed underline var(--accent);
  background: linear-gradient(to right, var(--accent) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s ease-in-out;
}

.start-link:hover {
  background-position: 0 0;
  text-decoration: none;
}
