.start-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  font-size: larger;
  font-weight: 600;
  border-bottom: var(--dashed-border);
  background: linear-gradient(to right, var(--accent) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition:
    background-position 0.5s ease-in-out,
    border-bottom-color 0.3s ease-in-out;
}

.start-link:hover {
  background-position: 0 0;
  border-bottom-color: transparent;
}
