footer {
  width: 100%;
  height: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--accent);
}

.footer-version {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer-version a {
  margin: 0 0.4rem;
}

.footer-version a:hover {
  border-bottom: var(--dashed-border);
}
