nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--nav-bg);
  font-size: 1.2rem;
  z-index: 100;
}

.nav-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem 2rem;
  max-width: 1200px;
}

nav a:hover {
  color: var(--accent);
}

.nav-link.active {
  color: var(--accent);
  font-weight: 600;
}

.menu-icon {
  display: flex;
  justify-self: end;
  width: fit-content;
  padding: 1em 1em 0 0;
}
