nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--nav-bg);
  font-size: 1.2rem;
  z-index: 100;
}

.nav-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem 2rem;
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 1em;
  }

  .nav-inner {
    padding: 0;
    gap: 0.8rem;
  }
}

nav a:hover {
  color: var(--accent);
}

.nav-link.active {
  color: var(--accent);
  font-weight: 600;
}

.menu-icon {
  display: flex;
  justify-self: end;
  width: fit-content;
}
