.dialogue-links {
  display: flex;
  gap: 1em;
}

.dialogue-desc-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}

/*-------
Dialogue images swipe to next/prev effect
---------*/

.dialogue-image-wrapper {
  position: relative;
  width: 700px;
  height: 350px;
  overflow: hidden;
}

.dialogue-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-in-right {
  transform: translateX(100%);
  animation: slideInRight 0.8s forwards;
}

.slide-in-left {
  transform: translateX(-100%);
  animation: slideInLeft 0.8s forwards;
}

.slide-out-left {
  transform: translateX(0);

  animation: slideOutLeft 0.8s forwards;
}

.slide-out-right {
  transform: translateX(0);

  animation: slideOutRight 0.8s forwards;
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}
